*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/0/c8/devushka-beg-sport-5578.jpg);
}

.conteiner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 80px auto;
    border-radius: 20px;
    background-color: rgb(113, 113, 113);
    width: 1500px;
    padding: 40px;
}
.card {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: url(https://cdn-images.farfetch-contents.com/16/07/07/00/16070700_30291067_600.jpg);
    background-size: 360px;
    background-position-y: -40px;
    border-radius: 20px;
    border: 3px solid rgb(240, 0, 0);
    
}

.card-cont-1 {
    /* border: 1px solid rgb(13, 242, 62); */
    padding: 10px;
}
.card__info {
    text-transform: uppercase;
    font-size: 30px;
}
.card__text {
    color: rgb(149, 32, 32);
}
.card__button {
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: red;
    width: 100px;
    letter-spacing: 1px;
    transition: 0.4s;
}
.card__button:hover{
    background-color: rgb(94, 0, 0);
    cursor: pointer;
}

.card__button:active {
    background-color: rgb(129, 0, 0);
}

.card__footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-end-end-radius: 17px;
    border-end-start-radius: 17px;
    height: 50px;
    background-color: rgb(100, 100, 100);
    border-top: 3px solid rgb(240, 0, 0);
    transition: 1s;
}
.card__footer:hover .card__sercvices-1{
    font-size: 30px;
    margin-left: 150px;
}
.card__footer:hover .card__sercvices-2{
    font-size: 30px;
    margin-right: 150px;
}
.card__sercvices-1 {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(86, 117, 209);
    text-shadow: 0 0 20px rgb(86, 117, 209);
    transition: 1s;
}
.card__sercvices-2 {
    font-size: 25px;
    background-color: red;
    margin-right: 10px;
    background-image: linear-gradient(45deg, #eee86d, #d62759);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px  #d62759;
    transition: 1s;
}
.card-2 {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    width: 400px;
    height: 450px;
    border: 3px solid rgb(240, 0, 216);
    padding: 10px;
}
.card-2__info {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px; 
    margin-bottom: 20px;
}
.card-2__pictures {
    width: 200px;
    height: 250px;
    border: 2px solid rgb(240, 0, 216);
    background-image: url(https://sneakers.by/image/cache/catalog/sneakers-pics/10869/krossovki-reebok-classic-leather-2232-1-1000x800.jpg);
    background-size: cover;
    background-position-x: -20px;
    border-radius: 20px;
}
.card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    background-image: url(https://images.prom.ua/4008260263_muzhskie-krossovki-adidas.jpg);
    background-size: 400px;
    background-position-y: -30px;
    background-color: rgb(110, 110, 110);
    background-blend-mode: soft-light;
    color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 450px;
    border: 3px solid rgb(28, 0, 240);
    padding: 10px;
}
.card-3__info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
    height: 100px;
    width: 300px;
    margin-bottom: 40px;
}
.card-3__name {
    margin-right: 10px;

}
.card-3__price {
    color: #e16e8f;
    text-shadow: 0 0 10px #e16e8f;
}
.card-3__button {
    background-color: rgba(255, 255, 255, 0.23);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
}

.card-3__button:hover{
    background-color: rgba(255, 255, 255, 0.459);
    cursor: pointer;
}


.card-4, .card-5, .card-6 {
    order: 4;
   /*  margin-top: 40px; */
    width: 300px;
    height: 500px;
    /*  */
}

.card-5 {
    /* border: 1px solid #000; */
    margin-top: 20px;
    border-radius: 25px;
    background-color: #343434;
}

.card-4 {
    /* border-bottom: 3px solid rgb(49, 49, 49);
    border-left: 3px solid rgb(49, 49, 49); */
    width: 300px;
    height: 500px;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    transition: 2s;
    /* border: 1px solid #000; */
}

.card-4:hover{
    transform: translateX(7px) translateY(-7px);
}

.card-4__header {
    display: flex;
    background: linear-gradient(to bottom right, #ff9d00, #ff0000);
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    height: 250px;
}
.nike__information {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border: 1px solid #000; */
    height: 160px;
}
.nike__logo img{
    width: 100px;
    height: 30px;
}
.nike__title {
    text-transform: uppercase;
    font-size: 30px;
}
.nike__text {
    width: 180px;
    font-size: 13px;
    line-height: 20px;
    /* border: 1px solid #000; */
}
.fast {
    color: rgb(0, 0, 0);
    opacity: 0.3;
    text-transform: uppercase;
    margin-left: 20px;
    letter-spacing: 10px;
    font-size: 80px;
    font-family: Blippo, fantasy;
}
.nike__image img{
    /* background-size: 300px; */
    object-position: 0px -60px;
    /* border: 1px solid #000; */
    width: 350px;
    height: 350px;
    margin-bottom: 100px;
    margin-left: -140px;
    position: absolute;
    z-index: 0;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* background-image: url(nike.png); */
}
.nike__image{
    animation-iteration-count: infinite;
    margin-top: 60px;
    
    /*   border: 1px solid rgb(17, 188, 114);/*  sssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss*/ 
    
}
.card-4__footer {
    padding: 10px;
    text-transform: uppercase;
    color: #242424;
}

.footer__cont-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
   /*  border: 1px solid #000; */
    height: 55px;
}
.new__nike-title {
    display: flex;
    font-size: 17px;
}
.new__nike-title span{
    font-weight: 800;
}
.new__nike {
    display: flex;
    align-items: center;
    font-size: 13px;
    background-color: rgb(135, 255, 157);
    color: #fff;
    margin-left: 10px;
    border-radius: 5px;
    padding: 3px 7px;
}
.collection {
    font-size: 11px;
    color: rgb(134, 134, 134);
}
.stars {
    display: flex;
    font-size: 13px;
}
.stars i{
    margin-right: 3px;
}
.no__star i{
    display: flex;
    align-items: center;
    color: #7e7e7e;
}

.footer__cont-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-weight: 600;
    height: 150px;
    margin-top: 10px;
    /* border: 1px solid #000; */
}
.nike__size-cont {
    /* border: 1px solid #000; */
    height: 60px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

}

.nike__size-cont p{
    font-size: 14px;
}
.nike__size {
    display: flex;
}
.size{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    margin-right: 15px;
    background-color: #f9f9f9;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    z-index: 1;
}
.size span{
    color: #fff;
    background-color: #ff9d00;
    padding: 7px;
    border-radius: 50%;
}

.size:hover{
    background-color: #dddddd;
    padding: 5px 10px;
    border-radius: 50%;
    cursor: pointer;
}    

.nike__colour {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    /* border: 1px solid #000; */
    height: 70px;
    width: 400px;
}
.nike__colour p{
    font-size: 14px;
}
.colour__taker {
    display: flex;
}
.color_list {
    align-items: center;
    justify-content: space-around;
    /* border: 1px solid #000; */
    width: 150px;
    display: flex;
}
.orange {
    width: 20px;
    height: 20px;
    background-color: #ed7238;
    box-shadow: 0 0 8px #ed7238;
    border-radius: 50%;
}
.orange__active {
    border: 2px solid rgba(37, 25, 25, 0.501);
    padding: 5px;
    border-radius: 50%;
}
.green {
    width: 20px;
    height: 20px;
    background-color: #7fff9b;
    box-shadow: 0 0 8px #7fff9b;
    border-radius: 50%;
}
.yellow {
    width: 20px;
    height: 20px;
    background-color: #f6ff00;
    box-shadow: 0 0 8px #f6ff00;
    border-radius: 50%;
}
.buy__button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-left: 10px;
    font-size: 25px;
   /*  border: 1px solid #000; */
    width: 170px;
    height: 50px;
    background-color: #7fff9b;
    box-shadow: 0 0 8px #7fff9b;
    border-radius: 10px;
    font-family: Optima, sans-serif;
}
.buy__button:hover{
    cursor: pointer;
    background-color: #8cf9a4;
}

.card-4:hover .nike__image{
    animation-name: example;
    animation-duration: 2s;
}

@keyframes example {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(10deg);}
    100% {transform: rotate(0deg);}
}
