*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-image: url(https://img1.goodfon.ru/wallpaper/nbig/0/c8/devushka-beg-sport-5578.jpg);
}

.conteiner {
    display: flex;
    justify-content: space-around;
    margin: 80px auto;
    border-radius: 20px;
    background-color: rgb(88, 156, 162);
    width: 1500px;
    padding: 40px;
}
.card {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    width: 400px;
    height: 450px;
    background-image: url(https://cdn-images.farfetch-contents.com/16/07/07/00/16070700_30291067_600.jpg);
    background-size: 360px;
    background-position-y: -40px;
    border-radius: 20px;
    border: 3px solid rgb(240, 0, 0);
    
}

.card-cont-1 {
    /* border: 1px solid rgb(13, 242, 62); */
    padding: 10px;
}
.card__info {
    text-transform: uppercase;
    font-size: 30px;
}
.card__text {
    color: rgb(149, 32, 32);
}
.card__button {
    color: #fff;
    border-radius: 10px;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: red;
    width: 100px;
    letter-spacing: 1px;
    transition: 0.4s;
}
.card__button:hover{
    background-color: rgb(94, 0, 0);
    cursor: pointer;
}

.card__button:active {
    background-color: rgb(129, 0, 0);
}

.card__footer {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-end-end-radius: 17px;
    border-end-start-radius: 17px;
    height: 50px;
    background-color: rgb(100, 100, 100);
    border-top: 3px solid rgb(240, 0, 0);
    transition: 1s;
}
.card__footer:hover .card__sercvices-1{
    font-size: 30px;
    margin-left: 150px;
}
.card__footer:hover .card__sercvices-2{
    font-size: 30px;
    margin-right: 150px;
}
.card__sercvices-1 {
    margin-left: 10px;
    font-size: 25px;
    color: rgb(86, 117, 209);
    text-shadow: 0 0 20px rgb(86, 117, 209);
    transition: 1s;
}
.card__sercvices-2 {
    font-size: 25px;
    background-color: red;
    margin-right: 10px;
    background-image: linear-gradient(45deg, #eee86d, #d62759);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    text-shadow: 0 0 20px  #d62759;
    transition: 1s;
}
.card-2 {
    order: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(70, 70, 70);
    border-radius: 20px;
    width: 400px;
    height: 450px;
    border: 3px solid rgb(240, 0, 216);
    padding: 10px;
}
.card-2__info {
    color: #fff;
    text-transform: uppercase;
    font-size: 30px; 
    margin-bottom: 20px;
}
.card-2__pictures {
    width: 200px;
    height: 250px;
    border: 2px solid rgb(240, 0, 216);
    background-image: url(https://sneakers.by/image/cache/catalog/sneakers-pics/10869/krossovki-reebok-classic-leather-2232-1-1000x800.jpg);
    background-size: cover;
    background-position-x: -20px;
    border-radius: 20px;
}
.card-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    order: 2;
    background-image: url(https://images.prom.ua/4008260263_muzhskie-krossovki-adidas.jpg);
    background-size: 400px;
    background-position-y: -30px;
    background-color: rgb(110, 110, 110);
    background-blend-mode: soft-light;
    color: #fff;
    border-radius: 20px;
    width: 400px;
    height: 450px;
    border: 3px solid rgb(28, 0, 240);
    padding: 10px;
}
.card-3__info {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #000; */
    background-color: rgba(255, 255, 255, 0.23);
    border-radius: 20px;
    height: 100px;
    width: 300px;
    margin-bottom: 40px;
}
.card-3__name {
    margin-right: 10px;

}
.card-3__price {
    color: #e16e8f;
    text-shadow: 0 0 10px #e16e8f;
}
.card-3__button {
    background-color: rgba(255, 255, 255, 0.23);
    padding: 10px 20px;
    font-size: 30px;
    border-radius: 10px;
}

.card-3__button:hover{
    background-color: rgba(255, 255, 255, 0.459);
    cursor: pointer;
}
